html {
  line-height: 1.3;
  font-size: 100%;
}

* {
  box-sizing: border-box;
}
*::before,
*::before {
  box-sizing: border-box;
}

body {
  font-family: 'Manrope', sans-serif;
  min-height: 100vh;
  padding: 0;
  margin: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
}